.about {

    padding: 80px 0;

    @include lg {
        padding: 100px 0;
    }

    &-container {
        @include lg {
            display: grid;
            grid-template-columns: 48% 1fr;
            gap: 40px 20px;
            grid-template-areas:
                'title title'
                'slider content';

        }

        @include xl {
            gap: 40px 30px;
            grid-template-rows: min-content 1fr;
            grid-template-areas:
                'slider title'
                'slider content';

        }
    }

    &-picture {
        @include lg{
            grid-area: slider;
        }
    }

    &-title {
        font-weight: 1000;
        font-size: 32px;
        line-height: 1;
        text-transform: uppercase;
        color: $second;
        margin-bottom: 24px;

        @include lg {
            font-size: 52px;
            grid-area: title;
            margin-bottom: 0;
        }
    }

    &-content {
        margin-bottom: 13px;
        background-image: url('../img/paw.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;
        padding-bottom: 27px;

        @include md {
            display: grid;
            grid-template-columns: 1fr min-content;
            grid-template-areas: 'description' 'list' 'link';
            gap: 24px 92px;
            background-position: right bottom;
        }

        @include lg {
            grid-template-columns: 1fr;
            grid-template-rows: min-content;
            gap: 40px;
            grid-area: content;
            margin-bottom: 0;
            padding-bottom: 0;
            grid-template-areas: 'description' 'list' 'link';
            background-position: center;
        }

        @include xl {
            gap: 60px;
        }
    }

    &-decription {
        margin-bottom: 40px;

        @include md {
            grid-area: description;
            margin-bottom: 0;
        }


    }

    &-link {
        margin-bottom: 40px;

        @include md {
            grid-area: link;
            margin-bottom: 0;
            justify-self: start;
        }

        @include lg {
            align-self: end;
        }
    }

    &-count-list {
        display: grid;
        grid-template-columns: repeat(2, 120px);
        gap: 20px;
        font-weight: 1000;
        color: $second;
        line-height: 1;

        @include md {
            grid-area: list;
        }

        @include xl {
            grid-template-columns: repeat(2, 200px);
        }
    }

    &-count {
        font-size: 40px;
        margin-bottom: 16px;

        @include lg {
            font-size: 52px;
        }
    }

    &-image {
        border-radius: 16px;
    }
}