.career {
    padding-top: 80px;
    overflow: hidden;

    @include lg {
        padding-top: 100px;
    }

    &-content {
        margin-bottom: 40px;

        @include md {
            display: grid;
            grid-template-columns: 1fr min-content;
            justify-content: space-between;
            gap: 11px 21px;
            grid-template-rows: auto auto 1fr;
            grid-template-areas:
                'title link'
                'description .';
        }

        @include lg {
            gap: 27px 31px;
            margin-bottom: 50px;
        }

        @include xl {
            grid-template-columns: 690px min-content;
        }

    }

    &-title {
        font-size: 32px;
        font-weight: 1000;
        color: $second;
        text-transform: uppercase;
        margin-bottom: 24px;
        line-height: 1;

        @include md {
            grid-area: title;
            margin-bottom: 0;
        }

        @include lg {
            font-size: 52px;
        }
    }

    &-decription {
        margin-bottom: 24px;

        @include md {
            grid-area: description;
            margin-bottom: 0;
        }
    }

    &-link {

        @include md {
            grid-area: link;
        }
    }

    &-picture {
        @include md {
            grid-area: slider;
        }
    }

    &-image {
        border-radius: 16px;

        &-item {
            height: unset;
            display: flex;
            align-items: center;

            @include sm {
                width: 48%;
            }

            @include md {
                &_odd{
                    width: 35%;
                }

                &_even {
                    width: 24%;
                }
            }

            @include xl {
                &_odd{
                    width: 27%;
                }

                &_even {
                    width: 20%;
                }
            }

        }

    }

    &-slider {
        @include md {
            overflow: visible;
        }

    }

}