.footer {
    padding-bottom: 30px;
    margin-top: 60px;

    @include lg {
        margin-top: 80px;
    }

    &-container {
        @include sm {
            display: grid;
            gap: 40px;
            grid-template-columns: 1fr max-content;
        }

        @include lg {
            gap: 72px;
        }
    }

    &-logo {
        width: 200px;
        height: auto;

        @include lg {
            width: 360px;
        }
    }

    &-social-list {
        display: flex;
        margin-top: 32px;
        gap: 16px;
        flex-direction: row;

        @include sm {
            margin-top: 0;
            gap: 36px;
        }
    }

    &-social-link {
        display: block;
        width: 36px;

        @include lg {
            width: 50px;
        }
    }

    &-social-item {}

    &-developers {
        display: flex;
        flex-direction: column;
        margin-top: 52px;
        margin-bottom: 52px;
        gap: 19px;
        line-height: 1;

        @include sm {
            order: 2;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &-developer {}

    &-copyright {}
}