.navigation {

    &-list {
        display: none;
        position: absolute;
        overflow-y: auto;
        background-color: $main;
        color: $second;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: -1;
        padding-top: 120px;
        padding-bottom: 120px;
        text-align: center;

        @include lg {
            padding-top: 146px;
            padding-bottom: 146px;
        }

        @include xl {
            position: static;
            display: flex;
            align-items: center;
            gap: 8px;
            height: auto;
            padding: 0;
        }
    }

    &-item {
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }

        @include xl {
            margin-bottom: 0;
        }
    }

    &-link {
        font-weight: 1000;
        line-height: 1;
        font-size: 16px;

        &--active {
            color: $back;
            pointer-events: none;
        }

        &:hover {
            color: $back;
            transition: 0.3s ease;
        }

        @include xl {
            display: block;
            padding: 16px 30px;
            border: 2px solid $back;
            border-radius: 80px;

            &--active {
                color: inherit;
                pointer-events: none;
                background-color: $back;
            }
        }
    }

    &-button {
        display: block;
        width: 36px;
        height: 36px;
        background: url('../img/menu.svg') center/contain;

        @include lg {
            width: 50px;
            height: 50px;
        }

        @include xl {
            display: none;
        }

        &--active {
            background-image: url('../img/close.svg');
        }
    }

}