.page {
    padding-top: 120px;

    @include lg {
        padding-top: 216px;
    }

    &-container {
        padding: 0 16px;

        @include md {
            max-width: 980px;
            padding: 0 30px;
        }

        @include lg {
            padding-left: 192px;
            max-width: 1142px;
        }

        @include xl {
            max-width: 920px;
            margin: 0 auto;
            padding: 0;
        }
    }

    &-title {
        line-height: 1;
        font-weight: 1000;
        font-size: 32px;
        color: $second;
        text-transform: uppercase;
        margin-bottom: 24px;

        @include md {
            margin-bottom: 32px;
        }

        @include lg {
            font-size: 52px;
            margin-bottom: 40px;
        }

        @include xl {
            margin-bottom: 38px;
        }
    }

    &-description {
        margin-bottom: 16px;

        @include lg {
            margin-bottom: 20px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &--block {
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }

            @include lg {
                margin-bottom: 60px;
            }
        }
    }

    &-image {
        border-radius: 16px;
        object-fit: cover;
        height: 308px;

        &--block {
            margin-bottom: 40px;

            :nth-child(2) {
                display: none;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        @include sm {
            height: auto;
            flex-grow: 1;

            &--block {
                :nth-child(2) {
                    display: block;
                }
            }

            &--double {
                --gap: 18px;
                display: flex;
                width: calc(50% - var(--gap) / 2);
                gap: var(--gap);
            }
        }

        // &:not(:last-of-type) {
        //     margin-bottom: 40px;
        // }

        // &:last-of-type {
        //     margin-bottom: 30px;
        // }

        // @include md {
        //     &:first-of-type {
        //         margin-top: 32px;
        //     }

        //     margin-bottom: 40px;
        // }

        @include lg {
            // margin-top: 60px;
            // margin-bottom: 60px;

            &--double {
                --gap: 20px;
            }
        }

        @include xl {

            // &:first-of-type {
            //     margin-top: 62px;
            // }
            &--double {
                --gap: 30px;
            }
        }
    }
}