.page {
    &-nav {
        display: none;

        @include lg {
            display: block;
            position: fixed;
            top: 216px;
            left: 30px;
        }

        @include xl {
            // padding-right: 115px;
            // padding-left: 30px;
        }

        &--list {
            display: flex;
            flex-direction: column;

            font-weight: 1000;
            font-size: 16px;
            color: $second;
        }

        &--item {
            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }

        &--link {
            &_active {
                color: $main;
                pointer-events: none;
            }
        }

    }
}